.custom-profile-macro .vcard {
    position: relative;
    overflow: hidden;
    min-height: 48px;
    white-space:nowrap;
}

.custom-custom-profile-macro .vcard .userLogoLink{
    float: left;
}

.custom-custom-profile-macro .vcard .user-status {
    white-space:normal;
}

.custom-profile-macro .vcard .userLogo {
    float: left;
    margin-right: 10px;
}

.custom-profile-macro .vcard .values {
    padding: 0;
    margin: 0;
    overflow: visible;
    width: 350px;
}

.custom-profile-macro .vcard .notloggedin {
    white-space: normal;
}

.custom-profile-macro .vcard .notloggedin {
    white-space: normal;
}

.custom-profile-macro .user-status {
    padding-top: 7px;
    display: block;
    clear: both;
}

.custom-profile-macro .profile-info {
    border-spacing: 0;
}
.custom-profile-macro .profile-info tr,
.custom-profile-macro .profile-info td,
.custom-profile-macro .profile-info th {
    font-size: 14px;
    padding: 0 0 2px;
}
.custom-profile-macro .profile-info th {
    padding-right: 10px;
}